.row
  .col-md-8.col-md-offset-2
    %h1.text-center Sign up
    .auth-form.well
      = form_for(User.new, url: signup_path) do |f|
        .input-group
          %span.input-group-addon.text-center Name
          = f.text_field :name, class: "form-control"
        %br
        .actions
          = f.submit "Sign Up", :style => "width: 30%;margin: auto;", :class => "btn btn-primary btn-lg center-block"
    = render partial: 'layouts/errors'
