.row.col-md-8.col-md-offset-2
  .well
    .room-form
      = form_for @room do |f|
        .input-group
          %span.input-group-addon.text-center Name:
          = f.text_field :name, class: "form-control"
        %br
        = f.submit class: "btn btn-primary btn-lg center-block", id: "create-chatroom", :style => "width: 30%;margin: auto;"
  %br
  = render partial: 'layouts/errors'
