.row.col-md-8.col-md-offset-2
  %h1= @room.name
  .panel.panel-default
    - if @room.messages.any?
      #messages.panel-body.tab-panel{:style => "font-size: large;"}
        = render partial: 'messages/message', collection: @room.messages
    - else
      #messages.panel-body.hidden
  = render partial: 'messages/form', locals: {message: @message, room: @room}
