%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"} Nanameue Chat
    -if logged_in?
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => logout_path, "data-method"=> "delete"}
            %span.glyphicon.glyphicon-user
            Log out
    -else
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => signup_path}
            %span.glyphicon.glyphicon-user
            Sign Up
        %li
          %a{:href => login_path}
            %span.glyphicon.glyphicon-log-in
            Login